.rootContainer {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    width: 790px;
    float: left;
}

#sideMenuForm {
    float: left;
    width: 222px;
    margin-right: 12px;
}

div.sideMenu, .packagesBlock, .userInfoTable {
    width: 100%;
}

.packagesBlockColumn {
    width: 50%;
    height: 1px;
}

.packagesBlockColumn>* {
    height: 100%;
}

.mainMenu span.ui-menuitem-text {
    font-size: 15px;
    font-weight: bold;
}

.sideMenu span.ui-menuitem-text {
    font-size: 13px;
}

.sideMenu .subMenu {
    font-size: 13px;
}

.ajaxStatusImage{
    margin-top: 5px;
}

.shortColumn {
    width: 100px;
}

.permissionsPickList.ui-picklist .ui-picklist-list {
    width: 300px;
}

td.infoLabel {
    width: 15%;
}