<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.reporter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name">

        <meta-data
            android:name="com.noveogroup.android.reporter.SENDER"
            android:value="com.noveogroup.android.reporter.library.sender.GoogleSender" />
        <!-- https://docs.google.com/spreadsheets/d/1bts03f5dFL3cLuTiNsrTaH4dBebvXNGJ7-Dp5gw7E5Q -->
        <meta-data
            android:name="com.noveogroup.android.reporter.SPREADSHEET"
            android:value="1bts03f5dFL3cLuTiNsrTaH4dBebvXNGJ7-Dp5gw7E5Q" />
        <meta-data
            android:name="com.noveogroup.android.reporter.CLIEND_ID"
            android:value="490993927495-i2p8vdrjuiucjsdlguudbapmq6625c45.apps.googleusercontent.com" />
        <meta-data
            android:name="com.noveogroup.android.reporter.CLIENT_SECRET"
            android:value="pGO3fVqiukex4SB9Jbi0jY7y" />
        <meta-data
            android:name="com.noveogroup.android.reporter.REDIRECT_URI"
            android:value="https://www.server.com/oauth2callback" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
