<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.noveogroup.clap.client"
          android:versionCode="1"
          android:versionName="1.0-SNAPSHOT">

    <uses-sdk android:minSdkVersion="8"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:name="org.holoeverywhere.app.Application">
        <service
                android:name=".service.ClapService"
                android:process=":remote">
            <intent-filter>
                <action android:name="com.noveogroup.clap.SEND_MESSAGE"/>
            </intent-filter>
        </service>
    </application>

</manifest>