<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noveogroup.android.reporter.library">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        android:maxSdkVersion="15" />

    <application>

        <service
            android:name=".service.ReporterService"
            android:description="@string/service_description"
            android:exported="false"
            android:icon="@mipmap/ic_reporter"
            android:label="@string/service_label"
            android:process=":reporter" />

        <receiver
            android:name=".service.ReporterService$Starter"
            android:description="@string/starter_description"
            android:icon="@mipmap/ic_reporter"
            android:label="@string/starter_label"
            android:process=":reporter">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
